@{
    ViewData["Title"] = "Home Page";
}

@model BooksListViewModel

    <h1>Bookstore</h1>
    
    @foreach (Book b in Model.Books)
    {
        <partial name="BookSummary" model="b"/>
    }

<div page-model="@Model.PaginationInfo" page-action="Index" page-classes-enabled="true" page-class="btn" 
    page-class-normal="btn-outline-secondary" page-class-selected="btn-secondary" 
    page-url-bookType="@Model.CurrentBookType" class="btn-group pull-right m-1"></div>

